<br>
<div class="card mb-4" style="padding: 25px;">
<table class="col-md-12">
    <tr>
        <td><label>Start Date:&nbsp;</label></td>
        <td><input type="date"  class="form-control invoice-date flatpickr-input active"></td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <td><label>End Date:&nbsp;</label></td>
        <td><input type="date"  class="form-control invoice-date flatpickr-input active"></td>
    </tr>
</table>

<br>

<div align="right"><button class="btn btn-primary d-block" (click)="toggleDataVisibility()">Valider</button></div>
</div>

<br>
<div class="demo-inline-spacing">
    <table style="width: 100%; height: 50%;">
      <tr>
          <td>
            <div>Nombre d'elements à afficher :&nbsp;
              <select class="btn btn-outline-primary dropdown-toggle">
                <option value="0">Afficher</option>
                <option value="1">Audi</option>
              </select>
          </div>
        </td>
      </tr>

    </table>
  
    <br>
</div>
<table class="table table-striped table-responsive text-nowrap">
  <thead>
    <tr>
      <th><input type="checkbox" [(ngModel)]="selectAll" (change)="selectAllItems()" /></th>
      <th>N° Transaction</th>
      <th>Matricule de l'assuré</th>
      <th>Nom de l'assuré</th>
      <th>Nom du bénéficiaire</th>
      <th>Médecin</th>
      <th>N° Consultation</th>
      <th>Date transaction</th>
      <th>Montant du ticket modérateur</th>
      <th>Reste à payer</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of ListData" [hidden]="!showData">
      <td><input type="checkbox" [(ngModel)]="item.checked" (change)="onItemChange(item)"/></td>
      <td>{{item.nTransaction}}</td>
      <td>{{item.matriculeAssure}}</td>
      <td>{{item.nomAssure}}</td>
      <td>{{item.nomBenefic}}</td>
      <td>{{item.medecin}}</td>
      <td>{{item.nConsultation}}</td>
      <td>{{item.dateTransaction}}</td>
      <td>{{item.tickMod}}</td>
      <td>{{item.restePayer}}</td>
    </tr>
  </tbody>
</table>

<!-- 
  <button mat-button (click)="openDialog()" class="btn btn-success" style="float: right;">Générer Bordereaux</button> -->
  <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#largeModal" style="float: right;">
    Générer Bordereaux
  </button>
  <div class="modal fade" id="largeModal" tabindex="-1" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
<form id="ajoutersugrec" #form="ngForm"> 
        <div class="modal-header">
          <h5 class="modal-title" id="modalCenterTitle">Générer Bordereaux</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table class="table table-borderless">
            <tbody>
                <tr data-dt-row="0" data-dt-column="1">
                    <td>Contractant:</td> 
                    <td><input type="text" class="form-control" value="DOUANE" readonly></td>
                </tr>
                <tr data-dt-row="0" data-dt-column="2">
                    <td>Nombre de prestations facturées:</td> 
                    <td><input type="text" class="form-control" value="2" readonly></td>
                </tr>
                <tr data-dt-row="0" data-dt-column="3">
                    <td>Date de facturation:</td> 
                    <td><input type="text" class="form-control" value="08-05-2023" readonly></td>
                </tr>
                <tr data-dt-row="0" data-dt-column="4">
                    <td>N° Facture:</td> 
                    <td><input type="text" class="form-control" value="56"
                      [(ngModel)]="bordereau.numFacture" [ngModelOptions]="{standalone: true}"></td>
                </tr>
                <tr data-dt-row="0" data-dt-column="5">
                    <td>Montant TVA:</td> 
                    <td><input type="text" class="form-control"
                      [(ngModel)]="bordereau.montant" [ngModelOptions]="{standalone: true}"></td>
                </tr>
                <tr data-dt-row="0" data-dt-column="6">
                    <td>Commentaire:</td> 
                    <td><textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea></td>
                    <!-- <td><input type="textarea" class="form-control"></td> -->
                </tr>
            </tbody>
        </table>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Annuler
          </button>
          <button type="button" class="btn btn-dark" (click)="onSubmit()" data-bs-dismiss="modal">Valider</button>
          
        </div>
      </div>
      </form>
    </div>
  </div>