<table class="table table-striped table-responsive">
    <thead>
      <tr>
        <th><input type="checkbox" [(ngModel)]="masterSelected"  (change)="checkUncheckAll()" /></th>
        <th>N° Transaction</th>
        <th>N° Bordereau</th>
        <th>Contractant</th>
        <th>Matricule de l'assurance</th>
        <th>Nom de l'assuré</th>
        <th>Nom du bénéficiaire</th>
        <th>Qualité du bénéficiaire</th>
        <th>Date transaction</th>
        <th>N° Consultation</th>
        <th>Montant du ticket modérateur</th>
        <th>Reste à payer</th>
        <th>Status</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of checklist">
        <td><input type="checkbox" [(ngModel)]="item.isSelected"  /></td>
        <td>{{item.nTransaction}}</td>
        <td>{{item.nBordereau}}</td>
        <td>{{item.contractant}}</td>
        <td>{{item.matriculeAssurance}}</td>
        <td>{{item.nomAssure}}</td>
        <td>{{item.nomBeneficiaire}}</td>
        <td>{{item.qualiteBeneficiaire}}</td>
        <td>{{item.dateTransaction}}</td>
        <td>{{item.nConsultation}}</td>
        <td>{{item.montantTicketModerateur}}</td>
        <td>{{item.resteAPayer}}</td>
        <td>{{item.status}}</td>
        <td><button type="button" class="btn rounded-pill btn-outline-success"><strong style="font-size:20px;">+</strong></button></td>
      </tr>
    </tbody>
  </table>
  